@* @model HabsForum.Models.Discussion *@
@model IEnumerable<HabsForum.Models.Discussion>


@{
    // Change the title to the name of discussion later?
    ViewData["Title"] = "Discussion Thread";
}

@* Don't think I want to keep the below code, but not ready to delete yet *@
@* <table class="table"> *@
@*     <tr> *@
@*         <td> *@
@*             @Html.DisplayNameFor(model => model.DiscussionId) *@
@*         </td> *@
@*         <td> *@
@*             @Html.DisplayFor(model => model.DiscussionId) *@
@*         </td> *@
@*     </tr> *@
@*     <tr> *@
@*         <td> *@
@*             @Html.DisplayNameFor(model => model.CreateDate) *@

@*         </td> *@
@*         <td> *@
@*             @Html.DisplayFor(model => model.CreateDate) *@
@*         </td> *@
@*     </tr> *@
@*     <tr> *@
@*         <td> *@
@*             @Html.DisplayNameFor(model => model.ImageFilename) *@
@*         </td> *@
@*         <td> *@
@*             @Html.DisplayFor(model => model.ImageFilename) *@
@*         </td> *@
@*     </tr> *@
@* </table> *@
