@model IEnumerable<HabsForum.Models.Discussion>

@{
    ViewData["Title"] = "Habs Forum Home Page";
}

<div class="home-header">
    <h1>Habs Forum</h1>
    <p>Welcome to the Habs Forum!</p>
</div>

<div class="home-content">
    <div class="add-discussion-container container">
        <a asp-controller="Discussions" asp-action="Create" >Create New Discussion</a>
    </div>

    <div class="content-grid d-flex">

        @foreach (var item in Model)
        {
            string imageUrl = Url.Content("/photos/" + item.ImageFilename);

            <div class="discussion-card card mb-sm-3 container row">
                <div class="col discussion-image-container d-flex align-content-center justify-content-center">
                    <img src="@imageUrl" class="discussion-thumbnail card-img" alt="No Image" />
                </div>
                <div class="col card-body discussion-body">
                    <div class="row disc-title">
                        <h2><a asp-action="GetDiscussion" asp-route-id="@item.DiscussionId" class="card-title">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                    </div>
                    <div class="row discussion-card-details mt-4">
                        <p class="card-text">Comments: @item.Comments.Count</p>
                        <p class="card-text">Created: @Html.DisplayFor(modelItem => item.CreateDate)</p>
                    </div>
                </div>
            </div>
        }

        </div>
</div>
